on: [push]

jobs:
  unassign_issues:
    runs-on: ubuntu-latest
    name: Unassign issues
    steps:
      - name: Unassign issues
        uses: bjthompson805/unassign-issues@v1
        id: unassign-issues
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          unassign_inactive_in_hours: 0 # 7 days
          warning_inactive_in_hours: 120 # 5 days
      - name: Print the unassigned issues
        run: echo "Unassigned issues: ${{steps.unassign-issues.outputs.unassigned_issues}}"
      - name: Print the warned issues
        run: echo "Warned issues: ${{steps.unassign-issues.outputs.warned_issues}}"
      - name: Move unassigned issues from In Progress to To Do
        uses: bjthompson805/move-issues@v1
        id: move-issues
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          issues: ${{steps.unassign-issues.outputs.unassigned-issues}}
          from_column: '12277235'
          to_column: '12277234'
      - name: Print moved issues
        run: echo "Moved issues: ${{steps.move-issues.outputs.moved_issues}}"