on: [push]

jobs:
  unassign_issues:
    runs-on: ubuntu-latest
    name: Unassign issues
    steps:
      - name: Unassign issues
        uses: bjthompson805/unassign-issues@v1
        id: unassign-issues
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          unassign_inactive_in_hours: 168 # 7 days
          warning_inactive_in_hours: 120 # 5 days
      - name: output
        run: echo '${{ steps.list.outputs.issuesUpdated }}'
