on: [push]

jobs:
  add_label_to_cards:
    runs-on: ubuntu-latest
    name: Add label to cards
    steps:
      - name: Add label to cards
        uses: bjthompson805/add-label-to-cards@v1
        id: add-label-to-cards
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          label_to_add: 'help wanted'
          column_id: '12277234'
