on: [push]

jobs:
  update_pull_requests:
    runs-on: ubuntu-latest
    name: Update pull requests
    steps:
      - name: Get pull requests
        uses: bjthompson805/list-pull-requests@v1.10
        id: list
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          skip_hour: 24
      - name: output
        run: echo '${{ steps.list.outputs.pulls }}'
